body {
  position: relative;
  margin: 0px;
}
:root {
  --main_orange: rgb(243, 121, 36);
  --text_withe: rgb(255, 255, 255);
  --border-gray: rgb(128, 128, 128);
}
a {
  text-decoration: none;
  color: black;
}

#nav_bar {
  z-index: 10;
  position: fixed;
  background-color: var(--main_orange);
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
  .nav_logo {
    color: var(--text_withe);
    font-weight: 900;
    font-size: 40px;
    margin-left: 92px;
    text-align: center;
    user-select: none;
  }

  #nav_right {
    margin-right: 92px;
    display: flex;
    .link_bar {
      display: flex;
      align-items: center;
      a {
        font-weight: 600;
        margin: 0 20px;
        color: var(--text_withe);
        &:hover {
          color: wheat;
        }
      }
    }

    .search_bar {
      display: flex;
      align-items: center;

      #search_toggle:checked ~ .search_button {
        visibility: visible;
      }

      #search_toggle:checked ~ .search_input {
        visibility: visible;
        width: 200px;
      }

      #search_toggle {
        display: none;
      }

      label {
        margin-left: 5px;
        cursor: pointer;
      }

      .search_input {
        outline: none;
        height: 20px;
        width: 0;
        visibility: hidden;
        transition: width 0.5s ease-in-out;
        border: none;
      }
      .search_button {
        height: 22px;
        visibility: hidden;
        transition: width 0.5s ease-in-out;
        background-color: var(--text_withe);
        border: none;
        cursor: pointer;
        margin-left: 3px;
        &:hover {
          background-color: wheat;
        }
      }
    }
  }
}

.hamburger {
  display: none;
}

#toggle {
  display: none;
}

@media screen and (max-width: 1300px) {
  #nav_bar {
    position: fixed;
    background-color: var(--main_orange);
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 20px;
    align-items: center;
    justify-content: space-between;

    .logo {
      color: var(--text_withe);
      font-weight: 900;
      font-size: 40px;
      margin-left: 92px;
      text-align: center;
      user-select: none;
    }

    #toggle:checked ~ #nav_right {
      right: -92px;
    }

    #toggle {
      display: none;
    }

    .hamburger {
      display: block;
      margin-right: 20px;
      font-weight: 900;
      font-size: 40px;
      color: var(--text_withe);
      cursor: pointer;
    }

    #nav_right {
      width: 250px;
      background-color: var(--main_orange);
      position: absolute;
      margin-right: 92px;
      display: flex;
      flex-direction: column;
      top: 50px;
      right: -400px;
      transition: right 0.3s ease-in-out;
      border-top: 1px solid black;

      .link_bar {
        display: flex;
        align-items: center;
        flex-direction: column;

        a {
          font-weight: 600;
          margin: 0 20px;
          color: var(--text_withe);
          margin: 20px;
        }
      }

      .search_bar {
        display: flex;
        align-items: center;
        flex-direction: column;

        label {
          margin-left: 5px;
          cursor: pointer;
          display: none;
        }

        .search_input {
          outline: none;
          height: 20px;
          width: 200px;
          visibility: visible;
          transition: width 0.5s ease-in-out;
          margin: 5px;
        }

        .search_button {
          visibility: visible;
          transition: width 0.5s ease-in-out;
          background-color: var(--text_withe);
          border: none;
          cursor: pointer;
          margin: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #nav_bar {
    .nav_logo {
      color: var(--text_withe);
      font-weight: 900;
      font-size: 40px;
      margin-left: 20px;
      text-align: center;
      user-select: none;
    }
  }
}
