@charset "UTF-8";
body {
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

:root {
  --main_orange: rgb(243, 121, 36);
  --text_withe: rgb(255, 255, 255);
  --text_black: rgb(53, 53, 53);
  --border_gray: rgb(128, 128, 128);
  --bg_opacity_black: rgba(0, 0, 0, 0.5);
}

a {
  text-decoration: none;
}

#product {
  width: 100%;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 5%;
}
#product .product_img,
#product .product_info {
  width: 500px;
  height: 500px;
}
#product .product_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#product .product_info .product_title {
  font-weight: 900;
  font-size: 40px;
}
#product .product_info .title {
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 5px;
}
#product .product_info #star_container span {
  font-weight: 600;
}
#product .product_info #star_container .star {
  display: inline-flex;
  flex-direction: row-reverse;
  color: var(--main_orange);
}
#product .product_info #star_container .star > label {
  font-size: 40px;
}
#product .product_info #star_container .star > label::after {
  content: "☆";
}
#product .product_info #star_container .star > label:hover {
  cursor: pointer;
}
#product .product_info #star_container .star > label:hover::after {
  content: "★";
  color: var(--main_orange);
}
#product .product_info #star_container .star > label:hover ~ label::after {
  content: "★";
  color: var(--main_orange);
}
#product .product_info #star_container .star > input {
  display: none;
}
#product .product_info #star_container .star > input:checked + label::after {
  content: "★";
  color: var(--main_orange);
}
#product .product_info #star_container .star > input:checked ~ label::after {
  content: "★";
  color: var(--main_orange);
}
#product .product_info .product_price {
  font-weight: 900;
  font-size: 35px;
}
#product .product_info .product_tag {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-top: 10px;
}
#product .product_info .product_tag span {
  border: 1px solid var(--main_orange);
  color: var(--main_orange);
  font-weight: 600;
  padding: 3px 10px;
  border-radius: 25px;
  margin-right: 10px;
}
#product .product_info .product_size {
  margin-top: 10px;
}
#product .product_info .product_size .size_info {
  font-weight: 600;
}
#product .product_info .product_describe p {
  font-weight: 900;
}
#product .product_info .btn {
  width: 50%;
  height: 48px;
}
#product .product_info .btn .btn_border {
  display: flex;
  border: 2px solid var(--text_black);
  height: 100%;
}
#product .product_info .btn .btn_border .btn_btn {
  display: flex;
  border-right: 2px solid var(--text_black);
}
#product .product_info .btn .btn_border .btn_btn .product_quanity {
  display: flex;
  align-items: center;
  width: 20px;
  font-weight: 900;
  font-size: 20px;
  margin: 0 10px;
}
#product .product_info .btn .btn_border .btn_btn button {
  height: 100%;
  width: 20px;
  font-weight: 900;
  font-size: 20px;
  background-color: var(--text_withe);
  border: none;
  padding-left: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
#product .product_info .btn .btn_border .btn_btn button:hover {
  background: var(--main_orange);
  color: var(--text_withe);
}
#product .product_info .btn .btn_text {
  width: 100%;
  font-weight: 900;
  font-size: 25px;
  background-color: var(--text_withe);
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
#product .product_info .btn .btn_text:hover {
  background: var(--main_orange);
  color: var(--text_withe);
}

#recommend_section {
  margin: 50px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#recommend_section .title {
  font-weight: 900;
  font-size: 32px;
  margin-bottom: 40px;
}
#recommend_section .recipe_cards {
  width: 95%;
  display: flex;
  justify-content: space-around;
}
#recommend_section .recipe_cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#recommend_section .recipe_cards .card img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 10px;
}
#recommend_section .recipe_cards .card .card_text {
  font-weight: 600;
  font-size: 18px;
}
#recommend_section .recipe_cards .card .card_text:hover {
  color: var(--main_orange);
}
#recommend_section .recipe_cards .card div {
  color: var(--main_orange);
}

#user_comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}
#user_comment .title {
  font-weight: 900;
  font-size: 32px;
  margin-bottom: 30px;
}
#user_comment .comment_carousel {
  width: 80%;
  box-shadow: 10px 10px 5px rgba(243, 121, 36, 0.7);
  border-radius: 25px;
}
#user_comment .comment_carousel .comment_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
}
#user_comment .comment_carousel .comment_info .user_name {
  font-weight: 600;
  font-size: 24px;
}
#user_comment .comment_carousel .comment_info .user_rating {
  color: var(--main_orange);
  margin-bottom: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#user_comment .comment_carousel .comment_info .comment_text {
  padding: 10px 200px 40px 200px;
  font-weight: 600;
  font-size: 18px;
}
#user_comment .carousel_btn .carousel_pre,
#user_comment .carousel_btn .carousel_next {
  position: absolute;
  bottom: 0;
  width: 5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main_orange);
  cursor: pointer;
}
#user_comment .carousel_btn .carousel_pre {
  left: 50px;
}
#user_comment .carousel_btn .carousel_next {
  right: 50px;
}

@media screen and (max-width: 1300px) {
  #product {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 5%;
  }
  #product .product_img,
  #product .product_info {
    width: 450px;
    height: 450px;
  }
  #product .product_img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #product .product_info .product_title {
    font-weight: 900;
    font-size: 30px;
  }
  #product .product_info .title {
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 5px;
  }
  #product .product_info #star_container span {
    font-weight: 600;
  }
  #product .product_info #star_container .star {
    display: inline-flex;
    flex-direction: row-reverse;
    color: var(--main_orange);
  }
  #product .product_info #star_container .star > label {
    font-size: 30px;
  }
  #product .product_info #star_container .star > label::after {
    content: "☆";
  }
  #product .product_info #star_container .star > label:hover {
    cursor: pointer;
  }
  #product .product_info #star_container .star > label:hover::after {
    content: "★";
    color: var(--main_orange);
  }
  #product .product_info #star_container .star > label:hover ~ label::after {
    content: "★";
    color: var(--main_orange);
  }
  #product .product_info #star_container .star > input {
    display: none;
  }
  #product .product_info #star_container .star > input:checked + label::after {
    content: "★";
    color: var(--main_orange);
  }
  #product .product_info #star_container .star > input:checked ~ label::after {
    content: "★";
    color: var(--main_orange);
  }
  #product .product_info .product_price {
    font-weight: 900;
    font-size: 25px;
  }
  #product .product_info .product_tag {
    margin-top: 10px;
  }
  #product .product_info .product_tag span {
    border: 1px solid var(--main_orange);
    color: var(--main_orange);
    font-weight: 600;
    padding: 3px 10px;
    border-radius: 25px;
    margin-right: 10px;
    font-size: 14px;
  }
  #product .product_info .product_size {
    margin-top: 10px;
  }
  #product .product_info .product_size .size_info {
    font-weight: 600;
  }
  #product .product_info .product_describe p {
    font-weight: 900;
    font-size: 14px;
  }
  #product .product_info .btn {
    width: 50%;
    height: 48px;
  }
  #product .product_info .btn .btn_border {
    display: flex;
    border: 2px solid var(--text_black);
    height: 100%;
  }
  #product .product_info .btn .btn_border .btn_btn {
    display: flex;
    border-right: 2px solid var(--text_black);
  }
  #product .product_info .btn .btn_border .btn_btn .product_quanity {
    display: flex;
    align-items: center;
    width: 20px;
    font-weight: 900;
    font-size: 20px;
    margin: 0 10px;
  }
  #product .product_info .btn .btn_border .btn_btn button {
    height: 100%;
    width: 20px;
    font-weight: 900;
    font-size: 20px;
    background-color: var(--text_withe);
    border: none;
    padding-left: 3px;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    cursor: pointer;
  }
  #product .product_info .btn .btn_border .btn_btn button:hover {
    background: var(--main_orange);
    color: var(--text_withe);
  }
  #product .product_info .btn .btn_text {
    width: 100%;
    font-weight: 900;
    font-size: 18px;
    background-color: var(--text_withe);
    border: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    cursor: pointer;
  }
  #product .product_info .btn .btn_text:hover {
    background: var(--main_orange);
    color: var(--text_withe);
  }
  #recommend_section {
    margin: 50px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #recommend_section .title {
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 30px;
  }
  #recommend_section .recipe_cards {
    width: 95%;
    display: flex;
    justify-content: space-around;
  }
  #recommend_section .recipe_cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #recommend_section .recipe_cards .card img {
    width: 150px;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 10px;
  }
  #recommend_section .recipe_cards .card .card_text {
    font-weight: 600;
    font-size: 18px;
  }
  #recommend_section .recipe_cards .card .card_text:hover {
    color: var(--main_orange);
  }
  #recommend_section .recipe_cards .card div {
    color: var(--main_orange);
  }
  #user_comment {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
  }
  #user_comment .title {
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 30px;
  }
  #user_comment .comment_carousel {
    width: 80%;
    box-shadow: 10px 10px 5px rgba(243, 121, 36, 0.7);
    border-radius: 25px;
  }
  #user_comment .comment_carousel .comment_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
  }
  #user_comment .comment_carousel .comment_info .user_name {
    font-weight: 600;
    font-size: 20px;
  }
  #user_comment .comment_carousel .comment_info .user_rating {
    color: var(--main_orange);
    margin-bottom: 5px;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  #user_comment .comment_carousel .comment_info .comment_text {
    padding: 10px 100px 40px 100px;
    font-weight: 600;
    font-size: 14px;
  }
  #user_comment .carousel_btn .carousel_pre,
  #user_comment .carousel_btn .carousel_next {
    position: absolute;
    bottom: 0;
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main_orange);
    cursor: pointer;
  }
  #user_comment .carousel_btn .carousel_pre {
    left: 50px;
  }
  #user_comment .carousel_btn .carousel_next {
    right: 50px;
  }
}
@media screen and (max-width: 900px) {
  #product {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #product .product_img,
  #product .product_info {
    width: 450px;
    height: 450px;
  }
  #product .product_img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #product .product_info .product_title {
    font-weight: 900;
    font-size: 30px;
  }
  #product .product_info .title {
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 5px;
  }
  #product .product_info #star_container span {
    font-weight: 600;
  }
  #product .product_info #star_container .star {
    display: inline-flex;
    flex-direction: row-reverse;
    color: var(--main_orange);
  }
  #product .product_info #star_container .star > label {
    font-size: 30px;
  }
  #product .product_info #star_container .star > label::after {
    content: "☆";
  }
  #product .product_info #star_container .star > label:hover {
    cursor: pointer;
  }
  #product .product_info #star_container .star > label:hover::after {
    content: "★";
    color: var(--main_orange);
  }
  #product .product_info #star_container .star > label:hover ~ label::after {
    content: "★";
    color: var(--main_orange);
  }
  #product .product_info #star_container .star > input {
    display: none;
  }
  #product .product_info #star_container .star > input:checked + label::after {
    content: "★";
    color: var(--main_orange);
  }
  #product .product_info #star_container .star > input:checked ~ label::after {
    content: "★";
    color: var(--main_orange);
  }
  #product .product_info .product_price {
    font-weight: 900;
    font-size: 25px;
  }
  #product .product_info .product_tag {
    margin-top: 10px;
  }
  #product .product_info .product_tag span {
    border: 1px solid var(--main_orange);
    color: var(--main_orange);
    font-weight: 600;
    padding: 3px 10px;
    border-radius: 25px;
    margin-right: 10px;
    font-size: 14px;
  }
  #product .product_info .product_size {
    margin-top: 10px;
  }
  #product .product_info .product_size .size_info {
    font-weight: 600;
  }
  #product .product_info .product_describe p {
    font-weight: 900;
    font-size: 14px;
  }
  #product .product_info .btn {
    width: 50%;
    height: 48px;
  }
  #product .product_info .btn .btn_border {
    display: flex;
    border: 2px solid var(--text_black);
    height: 100%;
  }
  #product .product_info .btn .btn_border .btn_btn {
    display: flex;
    border-right: 2px solid var(--text_black);
  }
  #product .product_info .btn .btn_border .btn_btn .product_quanity {
    display: flex;
    align-items: center;
    width: 20px;
    font-weight: 900;
    font-size: 20px;
    margin: 0 10px;
  }
  #product .product_info .btn .btn_border .btn_btn button {
    height: 100%;
    width: 20px;
    font-weight: 900;
    font-size: 20px;
    background-color: var(--text_withe);
    border: none;
    padding-left: 3px;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    cursor: pointer;
  }
  #product .product_info .btn .btn_border .btn_btn button:hover {
    background: var(--main_orange);
    color: var(--text_withe);
  }
  #product .product_info .btn .btn_text {
    width: 100%;
    font-weight: 900;
    font-size: 18px;
    background-color: var(--text_withe);
    border: none;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    cursor: pointer;
  }
  #product .product_info .btn .btn_text:hover {
    background: var(--main_orange);
    color: var(--text_withe);
  }
  #recommend_section {
    margin: 50px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #recommend_section .title {
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 30px;
  }
  #recommend_section .recipe_cards {
    width: 95%;
    display: flex;
    justify-content: space-around;
  }
  #recommend_section .recipe_cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #recommend_section .recipe_cards .card img {
    width: 125px;
    height: 125px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 10px;
  }
  #recommend_section .recipe_cards .card .card_text {
    font-weight: 600;
    font-size: 18px;
  }
  #recommend_section .recipe_cards .card .card_text:hover {
    color: var(--main_orange);
  }
  #recommend_section .recipe_cards .card div {
    color: var(--main_orange);
  }
  #recommend_section .recipe_cards .vanish {
    display: none;
  }
  #user_comment {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
  }
  #user_comment .title {
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 30px;
  }
  #user_comment .comment_carousel {
    width: 80%;
    box-shadow: 10px 10px 5px rgba(243, 121, 36, 0.7);
    border-radius: 25px;
  }
  #user_comment .comment_carousel .comment_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
  }
  #user_comment .comment_carousel .comment_info .user_name {
    font-weight: 600;
    font-size: 20px;
  }
  #user_comment .comment_carousel .comment_info .user_rating {
    color: var(--main_orange);
    margin-bottom: 5px;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  #user_comment .comment_carousel .comment_info .comment_text {
    padding: 10px 50px 0px 50px;
    margin-bottom: 20px;
    height: 150px;
    font-weight: 600;
    font-size: 14px;
    overflow-y: scroll;
  }
  #user_comment .carousel_btn .carousel_pre,
  #user_comment .carousel_btn .carousel_next {
    position: absolute;
    bottom: 0;
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main_orange);
    cursor: pointer;
  }
  #user_comment .carousel_btn .carousel_pre {
    left: 10px;
  }
  #user_comment .carousel_btn .carousel_next {
    right: 10px;
  }
}/*# sourceMappingURL=product_page.css.map */