<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>頁尾</title>
    <link rel="stylesheet" href="/footer.css" />
  </head>
  <body>
    <footer>
      <a class="footer_logo" href="">SPICESPHERE</a>

      <small id="footCopyright">© 2024 SPICESPHERE. All rights reserved.</small>
      <div id="foot_sub">
        <input type="email" placeholder="E-email" />
        <button>訂閱</button>
      </div>
    </footer>
  </body>
</html>
