<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>添加新項目|商品</title>
  </head>
  <link rel="stylesheet" href="/backstage.css" />
  <link rel="stylesheet" href="/add_item.css" />
  <script src="/Backstage/jquery/jquery-3.7.1.min.js"></script>

  <script>
    $(document).ready(function () {
      //跳轉事件
      $("#page").change(function () {
        var selectedOption = $(this).val();
        if (selectedOption === "recipe") {
          window.location.href = "/addRecipe"; // 導向食材路由
        } else if (selectedOption === "product") {
          window.location.href = "/addProduct"; // 導向商品路由
        }
      });

      // 更新剩餘字數的函數
      function updateCount() {
        const inputLength = $(this).val().length;
        const maxLength = $(this).attr("maxlength");
        const remaining = maxLength - inputLength;
        let counter = $(this).next(".counter");
        if (counter.length === 0) {
          counter = $('<span class="counter"></span>');
          $(this).parent().append(counter);
        }
        counter.text(`剩餘字數：${remaining}`);
      }

      // 為每個需要限制字數的欄位添加事件監聽器
      $("#title, #short_describe, #full_describe, #size").on(
        "input",
        updateCount
      );

      $("#img_upload").change(function () {
        if (this.files.length > 0) {
          $("#is_upload")
            .text("已選擇")
            .css("background-color", "rgb(75, 181, 67)");
        } else {
          $("#is_upload").text("選擇上傳圖片").css("background-color", "");
        }
      });

      //將資料傳回資料庫
      $("#submmit button").click(function (e) {
        e.preventDefault();

        var data = {
          product_title: $("#title").val(),
          part_describe: $("#short_describe").val(),
          full_describe: $("#full_describe").val(),
          size: $("#size").val(),
          price: $("#price").val(),
          inventory: $("#inventory").val(),
          sales_amount: $("#sales_amount").val(),
          related: $('select[name="related"]').val(),
          // 其他欄位...
        };

        $.ajax({
          url: "/addProduct", // 伺服器端處理這個請求的路由
          method: "POST",
          data: data,
          success: function (response) {
            alert(response.message);
            var formData = new FormData();
            formData.append("file", $("#img_upload")[0].files[0]); // 加入圖片的資料

            $.ajax({
              url: "/uploadProductImage",
              method: "POST",
              data: formData,
              processData: false,
              contentType: false,
              success: function (response) {
                alert(response);
              },
            });
          },
        });
      });
    });
  </script>

  <body>
    <%- include('nav_bar') %>
    <div id="item_uid">
      <span>
        新增項目 :
        <select id="page">
          <option value="recipe">食材</option>
          <option value="product" selected>商品</option>
        </select>
      </span>
      <hr />
    </div>

    <div id="item_info">
      <div class="item_container">
        <div class="item_left">
          <div>
            新增商品注意事項
            <div class="hover">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-question-circle"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
                />
                <path
                  d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"
                />
              </svg>
              <div class="hover-content">
                <p>所有欄位都必須填寫</p>
                <p>商品的每個型號請使用"@"隔開</p>
                <p>價格為零表示為贈品，但不得為負數</p>
                <p>存貨為負數則表示庫存有問題，請盡快查出</p>
              </div>
            </div>
          </div>
          <div>
            <label for="title">商品名稱 :</label
            ><input id="title" type="text" maxlength="20" />
          </div>
          <div>
            <label for="short_describe">短描述 : </label
            ><textarea
              id="short_describe"
              type="text"
              maxlength="100"
            ></textarea>
          </div>
          <div>
            <label for="full_describe">完整描述 : </label
            ><textarea
              id="full_describe"
              type="text"
              maxlength="300"
            ></textarea>
          </div>
          <div>
            <label for="size">商品型號 : </label
            ><textarea id="size" type="step" maxlength="500"></textarea>
          </div>
        </div>

        <div class="item_mid">
          <div>
            <label for="img_upload">
              <div class="btn" id="is_upload">選擇上傳圖片</div>
            </label>
            <input type="file" id="img_upload" accept=".png, .jpg" />
          </div>
          <div>
            <label for="price">售價 : </label
            ><input id="price" type="number" min="0" />
          </div>
          <div>
            <label for="inventory">存貨數量 : </label
            ><input id="inventory" type="number" min="0" />
          </div>
          <div>
            <label for="sales_amount">銷售數量 : </label
            ><input id="sales_amount" type="number" min="1" />
          </div>
          <div>
            <label>商品關聯 : </label>
            <select name="related">
              <option value="" selected hidden>選擇關聯</option>
              <option value="1">食材</option>
              <option value="2">調味料</option>
              <option value="3">調理包</option>
              <option value="4">碗具</option>
              <option value="5">鍋具</option>
            </select>
          </div>
        </div>
      </div>
      <div id="submmit">
        <button>新增商品</button>
      </div>
    </div>
    <%- include('footer') %>
  </body>
</html>
