<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>後台</title>
    <link rel="stylesheet" href="/backstage.css" />
    <script src="/Backstage/jquery/jquery-3.7.1.min.js"></script>
  </head>
  <body>
    <nav>
      <span>SpiceSphere後台管理系統</span>
      <span
        >歡迎，<a><%= username %></a>
        <a class="btn" href="/logout">登出</a></span
      >
    </nav>
  </body>
</html>
