/* 導覽列與大圖的CSS */
body {
  margin: 0px;
}


:root {
  --mainOrange: rgb(243, 121, 36);
  --textWithe: rgb(255, 255, 255);
  --borderGray: rgb(128, 128, 128);
}


a {
  text-decoration: none;
  color: black;
}

#navBar {
  background-color:var(--mainOrange);
  display: flex;
  width: 100%;
  height: 50px;
  font-size: 20px;
  align-items: center;
  justify-content: space-between;
}

#navBar .logo {
  color:var( --textWithe);
  font-weight: 900;
  font-size: 40px;
  margin-left: 92px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#navBar #navRight {
  margin-right: 92px;
  display: flex;
}
#navBar #navRight a {
  font-weight: 600;
  margin: 0 20px;
  color:var( --textWithe);
  align-self: center;
}

#navRight>div>img{
  width:35px;
  height:35px;
  stroke-width:1.5;

}

#sloganSection {
  background-image: url(/img/main_img.jpg);
  background-size: 1920px 900px;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  display: flex;
  align-items: center;
}

#sloganSection p {
  color:var( --textWithe);
  margin: 0px;
  padding-left: 160px;
}

#sloganSection p:first-child {
  font-weight: 600;
  font-size: 40px;
  padding-bottom: 20px;
}

#sloganSection p:last-child {
  font-size: 24px;
  width: 550px;
}


  /* 個別商品資訊的CSS */

#mainSection{
  margin: 65px 200px;
  padding-left: 120px;
  display: flex;

}

#mainSection #mainSectionImg {
  display: flex;
  flex-direction: column;
  width: 600px;
  justify-content: center;
  padding-right: 20px;
}

#mainSection #mainSectionImg img{
  width: 85%;

}

#mainSection #mainSectionProductContent .mainSectionProductContentBigText{
  font-weight: 600;
  position: relative;
  margin-bottom: 10px;
  font-size: 20px;
}

#mainSectionProductContent >div:nth-child(2){
  display: flex;
  font-size:15px;
}

#mainSectionProductContent >div:nth-child(2)>span{
  color: #84DA8C;

}

#mainSection #mainSectionProductContent .tag  {
  display: flex;
  justify-content:space-between;
  width: 30%;
  color: var(--mainOrange);
  font-weight: bold;
  padding: 5px 0px;
}

#mainSection #mainSectionProductContent .tag span{
  border: 1px solid var(--mainOrange);
  border-radius: 10px;
  display: flex;
  justify-content:center;
  padding: 5px 8px;
  margin: 0px 5px;
  font-size: 15px;
}

#mainSectionProductContentSize{
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

#mainSectionProductContentSize div:nth-child(1){
  font-weight: 600;
  margin-bottom: 5px;
  display: flex;
}

#mainSection #mainSectionProductContent .mainSectionProductContentIntroduction {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}

.mainSectionProductContentIntroduction div:nth-child(1){
  font-weight: 600;
}


#mainSection #mainSectionProductContent #mainSectionProductContentBtn{
  display: flex;
  font-size: 20px;
  margin-top: 5px;
}

#mainSection #mainSectionProductContent #mainSectionProductContentBtn >div{
  display: flex;
  border: 2px solid #000;  
}

#mainSection #mainSectionProductContent #mainSectionProductContentBtn >div>div >button {
font-size: 16px;
background-color: var(--textWithe);
border: var(--textWithe);
font-weight: 600;
}

#mainSection #mainSectionProductContent #mainSectionProductContentBtn >div>button{
  font-size: 16px;
  background-color: var(--textWithe);
  border-top: var(--textWithe);
  border-right: var(--textWithe);
  border-bottom: var(--textWithe);
  font-weight: 600;
  padding:0px 15px;
}

#mainSectionProductContentBtn>button{
  display: flex;
  margin-left: 25px;
  width: 20%;
  height: 33px;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  background-color: black;
  color: var(--textWithe);

}

/* 您可能會喜歡區的CSS */

 #mainSectionProductCards {
  width:90%;
 padding-left: 2.5%;
  display: flex;
  flex-direction: column;
}

#mainSectionProductCards >div:nth-child(1){
  font-weight: 600;
  font-size: 17px;
  align-items: center;
  padding-left: 25px;
  display: flex;
}

#mainSectionProductCards div{
  justify-content: center;
  display: flex;
  width: 100%;
}

 #mainSectionProductCards .card {
  width: 175px;
  height: 300px;
  margin: 0 9px 10px 20px;
  flex-direction: column;
  padding-left: 50px;
  padding-top: 30px;
}

 #mainSectionProductCards .card img {
  width: 215px;
  height: 225px;
  border: 1px solid black;
}

 #mainSectionProductCards .card .cardName {
  font-weight: 600;
  font-size: 16px;
  margin-left: 3px;
  padding-top: 5px;
}

#mainSectionProductCards .card input{
 margin-left: 10px;
}

#mainSectionProductCards .card .cardBtn{
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  padding-top: 5px;
}

/* 使用心得的CSS */
#mainSectionCommentCards {
  width:90%;
 padding-left: 2.5%;
 padding-top: 2.5%;
  display: flex;
  flex-direction: column;
}

#mainSectionCommentCards >div:nth-child(1){
  font-weight: 600;
  font-size: 17px;
  align-items: center;
  padding-left: 25px;
  display: flex;
}

#mainSectionCommentCards >div:nth-child(2){
  font-weight: 550;
  align-items: center;
  padding-left: 20px;
  margin-left: 365px;
  display: flex;
  background-color: var(--textWithe);
  border-radius: 50px;
  box-shadow: 15px 15px 4px 0px var(--mainOrange);
  width: 55%;
  height: 250px;
  justify-content: space-between;
}

#mainSectionCommentCards div{
  justify-content: center;
  display: flex;
  width: 100%;
}

#mainSectionCommentCards .card {
  width: 65%;
  height: 300px;
  flex-direction: column;
  padding-right: 36px;
  display: flex;
}
  
#mainSectionCommentCards .card img {
  width: 70px;
  height: 80px;
  border: 1px solid black;
}

#mainSectionCommentCards .card input{
  margin-top: 10px;
  margin-left: 205px;
  width: 25%;
 }

 .CommentChangeBtn:nth-child(1){
  position: relative;
  right:70px;
  background-color: var(--textWithe);
  border: none;
  
 }

 .CommentChangeBtn:last-child{
  position: relative;
  left:80px;
  background-color: var(--textWithe);
  border: none;
  
 }

 /* #mainSectionCommentCardsContent{
  display: flex;
  flex-wrap: wrap;
  
 } */


  /* 網頁底的CSS */
  footer {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    background-color: var(--mainOrange);
    color: var(--textWithe);
    display: flex;
    align-items: center;
    height: 40px;
    margin-top: 30px;
  }
  footer .logo {
    color: var(--textWithe);
    font-weight: 900;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  footer #foot_sub {
    width: 200px;
    display: flex;
    align-items: center;
  }
  footer #foot_sub input {
    border-radius: 25px;
    border: none;
    outline: none;
    height: 20px;
  }
  footer #foot_sub button {
    border-radius: 25px;
    padding: 0 10px;
    white-space: nowrap;
    border: 1px solid var(--borderGray);
    background-color: var(--mainOrange);
    color: var(--text_withe);
    outline: none;
    margin-left: -20px;
    height: 25px;
  }
  
  
  /*網頁的平板RWD  */
@media screen and (max-width: 1024px) {

  #navBar {
    height: 30px;
    font-size: 16px;
  }
  #navBar .logo {
    font-size: 25px;
  }

  #mainSection{
    margin: 65px 100px;
    padding-left: 80px;
    display: flex;
  }
  
  #mainSection #mainSectionImg {
    display: flex;
    flex-direction: column;
    width: 1000px;
    justify-content: center;
    padding-right: 100px;
    
  }
  
  #mainSection #mainSectionImg img{
    width: 100%;
  }


  #mainSection #mainSectionProductContent .tag  {
    display: flex;
    justify-content:space-between;
    width: 70%;
    color: var(--mainOrange);
    font-weight: bold;
    padding: 5px 0px;
  }


  #mainSection #mainSectionProductContent #mainSectionProductContentBtn{
    display: flex;
    font-size: 13px;
    margin-top: 5px;
  }
  
  #mainSection #mainSectionProductContent #mainSectionProductContentBtn >div{
    display: flex;
    border: 2px solid #000;  
  }
  
  #mainSection #mainSectionProductContent #mainSectionProductContentBtn >div>div >button {
  font-size: 13px;
  background-color: var(--textWithe);
  border: var(--textWithe);
  font-weight: 600;
  padding-top: 5px;
  }
  
  #mainSection #mainSectionProductContent #mainSectionProductContentBtn >div>button{
    font-size: 13px;
    background-color: var(--textWithe);
    border-top: var(--textWithe);
    border-right: var(--textWithe);
    border-bottom: var(--textWithe);
    font-weight: 600;
    padding:0px 7px;
  }

  
  #mainSectionProductContentBtn>button{
    display: flex;
    margin-left: 25px;
    width: 30%;
    height: 33px;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    background-color: black;
    color: var(--textWithe);
  
  }


  /* 您可能會喜歡區的RWD */

  #mainSectionProductCards {
    width:50%;
   padding-left: 37%;
    display: flex;
    flex-direction: column;
  }
  
  #mainSectionProductCards div{
    justify-content: center;
    display: flex;
    width: 80%;
  }
  

  #mainSectionProductCards .card:nth-child(4) {
    display: none;
  }
  
   #mainSectionProductCards .card .cardName {
    font-weight: 600;
    font-size: 16px;
    margin-left: 5px;
    padding-top: 5px;
  }
  
  #mainSectionProductCards .card input{
   margin-right: 35px;
  }
  
  #mainSectionProductCards .card .cardBtn{
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
    padding-top: 5px;
  }


  /* 使用心得的RWD */

  #mainSectionCommentCards {
    width:70%;
   padding-left: 2.7%;
   padding-top: 5%;
    display: flex;
    flex-direction: column;
  }
  
  #mainSectionCommentCards >div:nth-child(1){
    font-weight: 600;
    font-size: 17px;
    align-items: center;
    padding-left: 210px;
    display: flex;
    padding-bottom: 20px;
  }
  
  #mainSectionCommentCards >div:nth-child(2){
    font-weight: 550;
    align-items: center;
    padding-left: 20px;
    margin-left: 296px;
    display: flex;
    background-color: var(--textWithe);
    border-radius: 50px;
    box-shadow: 15px 15px 4px 0px var(--mainOrange);
    width: 75%;
    height: 250px;
    justify-content: space-between;
  }
  
      
  #mainSectionCommentCards .card input{
    margin-top: 10px;
    margin-left: 126px;
    width: 25%;
   }






}/*# sourceMappingURL=product_section.css.map */
  
